<template>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <table class="table table-striped table-dark">
                        <thead>
                            <thead>
                                <tr>
                                    <th colspan="4">
                                        <span click.trigger="newTodo()"><i data-feather="plus"></i></span>
                                        <span click.trigger="getTodos()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                                    </th>
                                </tr>
    
                                <tr>
                                    <th scope="col">todo</th>
                                    <th scope="col">priority</th>
                                    <th scope="col">done</th>
                                </tr>
                            </thead>
    
                        <tbody>
                            <tr repeat.for="todo of todos.todosArray">
                                <td click.trigger="editTodo(todo)">${todo.high}</td>
                                <td click.trigger="editTodo(todo)">${todo.medium}</td>
                                <td click.trigger="editTodo(todo)">${todo.low}</td>
                                <td>
                                        <div class="form-check">
                                            <input class="form-check-input" change.delegate="changeActive(todo)" checked.bind="todo.active"
                                                type="checkbox" value="" id="defaultCheck1">
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>